@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
    text-align: left;
    font-size: 50px;
    align-items: center;

}
.nav1{
    justify-self: center;
    background-color: rgb(104, 101, 101);
    padding: 2%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}


.header1{
    font-size: 30px;
    background-color: rgb(223, 223, 223);
    justify-self: center;
    position: sticky 0;
}

thead{
    font-size: 40px;
}

.main1{
    justify-self: center;
    background-color: gray;
    padding: 50px;
    width: 50%;
}



body{
    background-color: rgb(255, 255, 255);
}

.footer1{

    justify-self: center;
    

}

.galeriah{
    justify-self: center;
    padding: 2%;
    border-radius: 6%;
    background-color: rgb(65, 63, 63);
    width: 50%;
}

.galerian{
    padding: 2%;
    border-radius: 5%;
    width: 50%;
    position: sticky 0;
    justify-self: center;
    font-size: 30px;
}
.galeriam{
    justify-self: center;
    background-color: rgb(109, 108, 106);
    padding: 5%;
    border-radius: 2%;
    display: block;

}

.galeriaf{
    background-color: gray;
    justify-self: center;
}

.cadastro{
    justify-self: center;
    display: flexbox;

}
 .porra{
    justify-self: center;
    text-align: center;
 }

 .navec{
    font-size: 30px;
 }

 form{
    padding: 35%;
    
 }

 fieldset{
    width: 100%;
 }